<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Erik Jiang">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script src="../static/script.js" defer></script>
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Tickets</title>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/images/monomuselogo.png" alt="MonoMuse Museum Logo">
        </header>
        <nav class="nav_bar">
            <span id="hamburger" onclick="toggleNav()">&#9776;</span>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
        <main class="main">
            <table>
                <tr>
                    <th>Ticket Type</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>General Admission</td>
                    <td>Access to all exhibitions and installations</td>
                    <td>$15</td>
                </tr>
                <tr>
                    <td>Student Admission</td>
                    <td>Discounted ticket for students with valid ID</td>
                    <td>$10</td>
                </tr>
                <tr>
                    <td>Member Admission</td>
                    <td>Unlimited access for one year, plus exclusive benefits.</td>
                    <td>$50</td>
                </tr>
            </table>
        </main>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>
