<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Erik Jiang">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>Exhibitions</title>
</head>
<body>
    <img id="logo" src="../static/images/monomuselogo.png" alt="MonoMuse Museum Logo">
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a id="navselected" href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    
    <h3>
        Exhibition 1: Digital Dreams
    </h3>
    <p>
        "Digital Dreams" is an immersive exhibition that explores the intersection of art and technology through a collection of cutting-edge digital artworks and interactive installations. Visitors can experience a wide range of digital art forms, including virtual reality, augmented reality, generative art, and interactive media. The exhibition features works from both established and emerging artists who are pushing the boundaries of digital creativity. Through this exhibition, MonoMuse invites visitors to explore the possibilities of digital art and its impact on contemporary culture.
    </p>

    <h3>
        Exhibition 2: Tech & Art Symposium
    </h3>
    <p>
        The "Tech & Art Symposium" is an annual event that brings together artists, technologists, and scholars to discuss the future of art and technology. The symposium features keynote speakers, panel discussions, and workshops that explore the latest trends and innovations in the field. Topics covered include the role of artificial intelligence in art, the impact of virtual reality on creative expression, and the ethical implications of emerging technologies in the art world. The symposium provides a platform for interdisciplinary dialogue and collaboration, fostering a deeper understanding of the relationship between art and technology.
    </p>
    <footer>
        <p>
            &copy; 2024 MonoMuse. All rights reserved.
        </p>
    </footer>
</body>
</html>