<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Erik Jiang">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>Explore</title>
</head>
<body>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    <nav>
        <a href="../index.html">Home</a>
        <a id="navselected" href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    <img src="images/Gemini_Generated_Image_k1moegk1moegk1mo.png" alt="Explore MonoMuse" width="600" height="400">
    <h2>
        Mission Statement
    </h2>
    <p>
        At MonoMuse, our mission is to inspire creativity and foster a deeper understanding of the relationship between art and technology. We are dedicated to showcasing innovative works that challenge traditional boundaries and encourage visitors to explore new perspectives on the role of technology in culture and everyday life. Through immersive exhibitions, interactive installations, and engaging programming, we aim to create a dynamic space where art and technology intersect, sparking curiosity and inspiring creativity in all who visit.
    </p>
    <h2>
        Milestones
    </h2>
    <ul>
        <li>
            2020: MonoMuse opens its doors with the inaugural exhibition "Digital Dreams," featuring cutting-edge digital art and interactive installations.
        </li>
        <li>
            2021: MonoMuse hosts its first annual "Tech & Art Symposium," bringing together artists, technologists, and scholars to discuss the future of art and technology.
        </li>
        <li>
            2022: The museum launches a new virtual reality gallery, allowing visitors to experience immersive art from around the world without leaving their homes.
        </li>
        <li>
            2023: MonoMuse collaborates with local schools to create educational programs that introduce students to the intersection of art and technology, fostering creativity and innovation in the next generation.
        </li>

    </ul>
    <footer>
        <p>
            &copy; 2024 MonoMuse. All rights reserved.
        </p>
    </footer>
</body>
</html>